#high-scores {
  font-family: "Maven Pro", sans-serif;
  padding-top: 20px;
  margin: 15px;
  float: left;
  font-size: 25px;
}
#timer {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  padding-top: 35px;
  float: right;
  margin-right: 55px;
}
h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
#choices {
  display: hide;
}
button {
  display: grid;
  margin: auto;
  margin-top: 55px;
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
}
p {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
